
.edit-title {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  color: #286c73;
  text-align: center;
  margin-top: 50px;
}

.edit-smoothie-image {
  width: 250px;
  display: block;
  border-radius: var(--img-br);
  /* margin-right: 20px; */
}

.smoothie-edit {
  display: flex;
  justify-content: center;
  /* margin-left: 100px; */
  margin-top: 20px;
  align-items: center;
}

.edit-form {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* margin-right: 200px; */
}

.save-button {
  font-size: 20px;
  text-align: center;
  width: 100px;
  margin-top: 40px;
  background-color: #286c73;
  color: #ddffd9;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  padding: 2px;
  border-radius: 10px;
}

.save-button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.save-button:active {
  background-color: #ddffd9;
  box-shadow: 0 2px rgb(199, 199, 199);
  color: var(--kale);
  transform: translateY(1px);
}

div.detail {
  width: 40vw;
}

@media screen and (max-width: 740px) {
  .edit-smoothie-image  {
   scale: .1%;
  }
  .edit-form{
    display: flex;
    justify-content: center;
    width: 175px;
    align-items: center;
    /* margin-right: 30px; */
  }

  .smoothie-edit{
    flex-direction: column;
    justify-content: center;
  }
}


