nav {
  background: #ff6480;
  box-shadow: 1px 1px 1px 0.3px #cecece;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  color: #fff494;
}

/* Logo Section */
.link-logo a {
  display: block;
  min-width: 250px;
  font-family: "Sacramento", cursive;
  font-size: 34px;
  text-align: left;
  transition: transform 0.1s ease-out;
}
.link-logo a:hover {
  transform: scale(1.05);
}

.link-pages {
  flex: 2;
  max-width: 50vw;
  align-items: center;
  font-size: 18px;
  display: flex;
  margin-right: 5px;
}

.link {
  flex: 1;
}

.link-welcome {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #fff494;
}

@media (max-width: 500px) {
  nav {
    width: 98%;
  }
  .logo {
    min-width: 150px;
    max-width: 50%;
  }
  .link-pages {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    padding: 3px;
  }
}
