/* Main Nav Elements -------------------------------------------------------- */

/* NOTE: When no welcome element exists, space-between puts the two children
flush with the start and end. When the welcome element exists, it is set to
flex-grow: 2 below in order to expand to fill the gap.  */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: var(--grapefruit);
  color: var(--banana);
}
a {
  color: var(--banana);
  text-decoration: none;
}

/* Logo Section ------------------------------------------------------------- */

.link-logo {
  background: darkslateblue; /* TEMP */
}
.link-logo a {
  display: block;
  min-width: 250px;
  font-family: "Sacramento", cursive;
  font-size: 34px;
  text-align: left;
  transition: transform 0.1s ease-out;
}
.link-logo a:hover {
  transform: scale(1.05);
}

/* User Welcome Section ----------------------------------------------------- */

.link-welcome {
  flex-grow: 2; /* expand to fill remaining space */
  background: darkcyan; /* TEMP */
}
.link-welcome span {
  display: block;
  font-style: italic;
}

/* Page Links Section ------------------------------------------------------- */

.link-pages {
  background: darkorchid; /* TEMP */
}
.link-pages {
  display: flex;
  font-size: 18px;
}

/* Mobile Layout ------------------------------------------------------------ */

@media (max-width: 500px) {

}
