/* Main Nav Elements */
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--grapefruit);
  color: var(--banana);
}
a {
  color: var(--banana);
  text-decoration: none;
}

/* Logo Section */
.link-logo a {
  display: block;
  min-width: 250px;
  font-family: "Sacramento", cursive;
  font-size: 34px;
  text-align: left;
  transition: transform 0.1s ease-out;
}
.link-logo a:hover {
  transform: scale(1.05);
}

/* User Welcome Section */
.link-welcome span {
  display: block;
  font-style: italic;
}

/* Page Links Section */
.link-pages {
  display: flex;
  margin-right: 5px;
  font-size: 18px;
}

@media (max-width: 500px) {

}
