/* App ---------------------------------------------------------------------- */

body {
  background-color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  color: #333333;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
hr {
  height: 1px;
  margin: 20px 0;
  border: none;
  background-color: #333333;
}
a {
  color: darkorange;
}
/* Highlight color */
::selection {
  color: white;
  background: darkorange;
}

/* Nav ---------------------------------------------------------------------- */

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid darkgray;
  background: #eeeeee;
}
/* Nav child 1/3 */
.logo {
  margin-right: 10px;
}
/* Nav child 2/3 */
.link-welcome {
  flex-grow: 2; /* expand to fill entire middle of nav */
}
/* Nav child 3/3 */
.link-pages > * {
  margin-left: 10px;
}

/* Main --------------------------------------------------------------------- */

main {
  padding: 20px;
  background-color: white;
}

/* Footer ------------------------------------------------------------------- */

footer {
  border-top: 1px solid darkgray;
  text-align: center;
}
