/* Variables: Colors -------------------------------------------------------- */

:root {
  --grapefruit: #ff6480;
  --mint:       #eaffe8;
  --banana:     #fff494;
  --kale:       #286c73;
}

/* App ---------------------------------------------------------------------- */

body {
  background-color: #ffffff;
  font-family: 'Rosario', 'Helvetica', 'Arial', sans-serif;
  color: #333333;
  margin: 0px;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
hr {
  height: 1px;
  margin: 20px 0;
  border: none;
  background-color: #333333;
}
a {
  color: var(--grapefruit);
}
/* Highlight color */
::selection {
  color: white;
  background: var(--grapefruit);
}
main {
  padding: 0px;
  background-color: white;
}
