/* Sign Up Button */
button {
  cursor: pointer;
  height: max-content;
  font-size: 16px;
  font-family: 'Rosario';
  color: white;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  letter-spacing: .35pt;
  padding: 5px 0;
}

.form-container {
  background-color: #ddffd9;
  align-self: center;
  padding: 30px;
  width:max-content;
  height: 80%;
  margin: 4em auto;
  /* border: 2px solid #b0bec5; */
  border-radius: 15px;
  /* box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); */
  transition: all 2s ease;
}

div.inputs {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin: 20px 0px;
}

div.label-input {
  align-self:flex-end;
}

/* Title 'Sign Up' */
.form-container h3 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  color: #286c73;
  font-size: 30px;
  margin: 25px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  width:100%;
}


.label-input input {
  width: 200px;
  height: 25px;
  margin: 7px 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
  outline: none;
  transition: all 0.4s ease;
}

/* Sign Up Button */
.form-container form button {
  width: 100px;
  margin: 1em auto;
  background: #286c73;
  border: none;
  margin-top: 25px;
}

.form-container form button:hover {
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 515px) {

  div.label-input {
    display: flex;
    flex-direction: column;
  }

  /* .form-container {
    margin: auto;
  } */

  .form-container form {
    width: 50vw;
  }

  div.label-input {
    display: flex;
    flex-direction: column;
    align-self:center;
  }

  .form-container input {
    margin-left: 0px;
  }
}

@media screen and (max-width: 418px) {
  .form-container input {
    width: 40vw;
  }

  .form-container form {
    width: 100%;
  }
}


@media screen and (max-width: 400px) {
  .form-container h3 {
    margin: 0px;
  }

  .form-container form button {
    margin: 0 auto;
  }

  .form-container {
    width: 50vw;
    margin: 20px auto;
    padding: 30px;
  }

  .inputs label {
    font-size: 12px;
  }
}

