


.create-container {
    display: flex;
    column-gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    /* padding-top: 100px; */
    align-content: center;
    justify-content: center;
}

label {
    font-family: 'Rosario', sans-serif;
}

::placeholder {
    font-family: 'Rosario', sans-serif;
}

.create-form h1 {
    color: #286C73;
    text-shadow: none;
    font-size: 30px;

}

input {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(197, 197, 197);
    border-radius: 5px;
}

textarea {
    border-style: solid;
    border-color: rgb(197, 197, 197);
    border-radius: 5px;
}

.blender {
    width: 50vw;
}

.submit-button {
  font-size: 22px;
  font-family: "Rosario", sans-serif;
  text-align: center;
  width: 100px;
  background-color: var(--kale);
  color: #ddffd9;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  padding: 2px;
  border-radius: 10px;
}
.submit-button :hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.submit-button:active {
  background-color: #ddffd9;
  box-shadow: 0 2px rgb(199, 199, 199);
  color: var(--kale);
  transform: translateY(1px);
}