.create-title {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  color: #286c73;
  text-align: center;
  margin-top: 50px;
}

.blender {
  width: 350px;
  display: block;
  border-radius: 20px;
  margin-right: 20px;
}

.create-container {
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
}

form {
  flex-direction: column;
  justify-content: center;
}

.create-form {
  width: 600px;
  display: flex;
  align-items: flex-end;
  margin-right: 200px;
}

.create-button {
  font-size: 20px;
  text-align: center;
  width: 100px;
  background-color: #286c73;
  color: #ddffd9;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  padding: 2px;
  border-radius: 10px;
}

.create-form input {
  margin-left:10px;
}

.create-form textarea {
  margin-left: 10px;
}

.create-button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.create-button:active {
  background-color: #ddffd9;
  box-shadow: 0 2px rgb(199, 199, 199);
  color: var(--kale);
  transform: translateY(1px);
}

@media screen and (max-width: 1075px) {
  .blender {
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 726px) {
  .blender {
    display: none;
  }

  form.create-form {
    margin: 40px;
  }

  div.create-container {
    width: 80vw;
    margin: 0;
  }

  .create-form input {
    width: 40vw;
  }

  .create-form textarea {
    width: 40vw;
  }

  .create-form label {
    font-size: 15px;
  }

  .create-form input {
    font-size: 15px;
  }
}

@media screen and (max-width: 436px) {
  h1.create-title {
    width: 90vw;
    margin: 20px auto;
  }

  div.create-container {
    margin: 15px auto;
  }

  form.create-form {
    align-items: flex-end;
    margin: 0;
    width: max-content;
  }
}

