<<<<<<< HEAD
/* @import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"); */

=======
>>>>>>> b6f1f361b9d9270fc04ebdc73337fb0106b9e7e7
footer {
  background-color: white;
  font-family: "Shrikhand", cursive;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
  text-align: center;
  color: var(--kale);
}
