/* @import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"); */

footer {
  background-color: white;
  font-family: "Shrikhand", cursive;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}
