.home-quote {
  display: flex;
  flex-flow: row nowrap;
}
.home-quote .quote {
  flex-grow: 2;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.home-quote p {
  width: 100%;
  padding: 30px;
  font-size: 24px;
  text-align: center;
}
.home-quote .quote-image {
    padding: 20px 10%;
  }
.home-quote img {
  display: block;
  width: 320px;
  height: auto;
}

@media screen and (max-width: 680px) {
  .home-quote {
    flex-flow: column nowrap;
  }
  .home-quote .quote-image {
    padding: 0 20px 20px 20px;
  }
  .home-quote img {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
}
