.search-form {
  padding-top: 50px;
}

.search-input {
  width: 38vw;
  font-family: "Rosario", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1px;
  padding: 10px 40px 10px 20px;
  border: 1px solid #ddd;
  margin: 40px;
}
