.search-form {
  padding-top: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.search-input {
  width: 80vw;
  font-family: "Rosario", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1px;
  padding: 10px 40px 10px 20px;
  border: 1px solid #ddd;
  margin: 20px;
}

@media (max-width: 600px) {
  .search-input {
    width: 70vw;
  }
}
